<% provide(:button_text, "Create List") %>

<h1>Lists</h1>

<section class="list-container">
  <div class="private-list-card">
    <h3>Private Lists (+)</h3>
    <%= render @lists %>
  </div>

  <div class="group-list-card">
    <h3>Group Lists (+)</h3>
      <%= render @lists %>
  </div>
</section>