<h1> Services </h1>

<p> Add your movie watching services below to show each movie's availability in your lists </p>

<ul class="services-list">
  <li> Netflix </li>
  <li> Amazon Prime </li>
  <li> HBO GO </li>
<ul>
