<% provide(:button_text, 'Create List') %>

<div>
  <%= render 'shared/user_info' %>
  <%= render 'lists/list_form' %>

  <div>
    <h3> Movie Lists </h3>
    <%= render 'shared/list_feed' %>
  </div>
</div>