<% provide(:button_text, 'Add New Movie')%>
<h1> All Movies </h1>

<ul class="actions_panel">
  <li><%= link_to "Add New Movie", new_movie_path, class: "btn btn-success btn-outline" %></li>
</ul>

<div class="row movie-index">
  <div class="col-md-4">
    <%= render @movies %>
  </div>
</div>
