<% unless current_user?(@user) %>
  <div id="follow form">
    <% if current_user.friends?(@user) %>
      <%= render 'unfriend' %>
    <% else %>
      <%= render 'friend' %>
    <% end %>
  </div>
<% end %>