<section class="user-card">
  <div class="user-data">
    <img src="https://via.placeholder.com/240/000000/FFFFFF?text=user",
    class="user-profile-pic", alt="Picture of the user"/>
  </div>

  <div class="user-data">
    <h1> <%= @user.name %>

    <% if @user.lists.any? %>
      <h3> Lists(<%= @user.lists.count %>) </h3>
      <ol>
        <%= render @lists %>
      </ol>
      <%= will_paginate @lists %>
    <% end %>
  </div>
</section>
