<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friendship_user_path(@user) %>">
    <strong id="friends" class="stat">
      <%= pluralize(@user.friends.count, "friend") %>
    </strong>
  </a>
</div>