// @import "bootstrap-sprockets";
// @import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.container {
  display: grid;    
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
}

header {
  display: flex;
  grid-column: span 12;
  grid-template-columns: repeat(10, 1fr);
  background-color: rgb(22, 26, 22);
}

aside {
  grid-column: span 1;
  background-color: white;
  border-right: rgb(238, 237, 237) solid 1px;
}

main {
  grid-column: span 11;
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px 50px;
}

footer {
  grid-column: span 12;
  background-color: orange;
}

nav li {
  font-family: courier;
  display: inline-block;
  list-style: none;
  padding: 0 15px;
  &:hover {
    border-bottom: orange solid 5px;
  }
  a {
    text-align: left;
    color: white;
    text-decoration: none;
  }
}

.sidebar ul {
  padding: 0;
  display: block;
  li {
    display: block;
    padding: 10px;
    a {
      width: 100%;
      color: black;
    }
  }
}

.footer a {
  color: black;
}

.alert {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 15px;
  font-family: courier;
  &:hover {
    color: orange;
  }
}

// /* typography */

// h1, h2, h3, h4, h5, h6 {
//   color: $darkest-gray;
//   line-height: 1;
// }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
// }

// p {
//   color: $darkest-gray;
//   font-size: 1.1em;
//   line-height: 1.7em;
// }

/* header */