<nav>
  <ul>
    <li><input type="text" placeholder="Find Movies">
    <li><%= link_to "Movies",  movies_path %></li> 
    <li><%= link_to "Lists",        lists_path %></li>
    <li><%= link_to "Groups",       '#' %> </li>
    <!--<li><%= link_to "Users",        users_path %></li> -->
  </ul>
</nav>
